.playlist_block {

    display: grid;
    width: 240px;
    height: 300px;
    cursor: pointer;
    padding: 4px;
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;

    box-shadow:  5px 5px 7px #c6c7c6,
             -5px -5px 7px #ffffff;
    background-color: #e4e5e4;

}

.playlist_text {
    margin-left: 4px;
}

.playlist_cover {
    width: 100%;
    border-style: none;
    border-radius: 5px;

}

.scroll_grid {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    border-radius: 5px;
    border-style: none;
}

#container {
    display: grid;
    width: 100%;
    height: max-content;
    justify-content: space-between;
    grid-template-columns: repeat( auto-fit, minmax(240px, 1fr));
    row-gap: 20px;
    column-gap: 10px;
    padding-bottom: 30px;
    padding-top: 20px;

    
}